.fullheight{
	height: 100%;
}

.fullwidth{
	width: 100%;
}


.fullscreen{
	@extend .fullheight;
	@extend .fullwidth;
}

html, body{
	@extand .fullscreen;
}

.screen{
	margin-top: 50px;
	@extend .fullwidth;
}

// heart_shape
.heart {
	opacity: 0;
	left: 50%;
	top:45px;
	transform: translate(-50%, 0);
	position: relative;
	width: 300px;
	height: 270px;

}
.heart:before,
.heart:after {
	position: absolute;
	content: "";
	left: 150px;
	top: 0;
	width: 150px;
	height: 240px;
	background: red;
	border-radius: 150px 150px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	box-shadow: 0 0 50px -0 red;
}
.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin :100% 100%;
}