.horizontal-center{
	left: 50%;
	transform: translate(-50%, 0);
	position:absolute;
}
.left{
	position: absolute;
	left: 0;
}
.right{
	position: absolute;
	right: 0;
}
.top{
	position: absolute;
	top: 0;
}
.bottom{
	position: absolute;
	bottom: 0;
}
@mixin radius($width){
	-webkit-border-radius: $width/10;
	-moz-border-radius: $width/10;
	-ms-border-radius: $width/10;
	border-radius: $width/10;
}

@mixin human($height: 200px, $width : 60px, $body-color: black){
	width: $width;
	height: $height;
	$body-radius: $width/4;
	$limb-radius: $width/10;
	.head{
		@extend .horizontal-center;
		background-color: $body-color;
		height: $height/10;
		width: $height/10;
		border-radius: $height/20;
	}
	.body-arms-legs{
		top:$height/10;
		position: relative;
		width: $width;
		height: $height*9/10;
	}
	.body{
		transition:2s linear;
		background-color: $body-color;
		@extend .horizontal-center;
		width: $width/2;
		height: $height*4/10;
		border-radius: $body-radius $body-radius $limb-radius $limb-radius;
	}
	.rotate-body{
		width: $limb-radius*2;
	}
	.shoulder{
		transition:2s linear;
		@extend .horizontal-center;
		top: $height/20-$width/8;
		background-color: $body-color;
		width: $width;
		height: $width/5;
		border-radius: $limb-radius;
	}
	.rotate-shoulder{
		width: $limb-radius*2;
	}
	.arm{
		background-color: $body-color;
		width:$limb-radius*2;
		height: $height/5+$limb-radius;
		border-radius: $limb-radius;
	}
	.joint{
		// transition:2s linear;
		background-color: $body-color;
		width: $limb-radius*2;
		height:$limb-radius*2;
		border-radius: $limb-radius;
	}
	.legs{
		position: relative;
		margin:auto;
		width: $width/2;
		height: $height/2;
	}
	.leg{
		background-color: $body-color;
		width:$limb-radius*2;
		height: $height/4+$limb-radius;
		border-radius: $limb-radius;
	}
}

.joint-walk-left-up{
	animation: joint-walk-left-up 2s infinite;
}
@keyframes joint-walk-left-up{
	0%{
		transform: rotate(10deg);
	}
	50%{
		transform: rotate(-45deg);
	}
	100%{
		transform: rotate(10deg);
	}
}
.joint-walk-left-down{
	animation: joint-walk-left-down 2s infinite;
}
@keyframes joint-walk-left-down{
	0%{
		transform: rotate(90deg);
	}
	50%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(90deg);
	}
}
.joint-walk-right-up{
	animation: joint-walk-right-up 2s infinite;
}
@keyframes joint-walk-right-up{
	0%{
		transform: rotate(-45deg);
	}
	50%{
		transform: rotate(10deg);
	}
	100%{
		transform: rotate(-45deg);
	}
}
.joint-walk-right-down{
	animation: joint-walk-right-down 2s infinite;
}
@keyframes joint-walk-right-down{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(90deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
.joint-walk-arm{
	transition:inherit;;
	transform: rotate(-90deg);
}