.man {
	position: absolute;
	top: 50px;
	width: 40px;
	height: 400px;
	right: 90%;
	transition: right 4s;
}

.screen:hover .man{
	right: 50%;
}


.woman{
	position: absolute;
	// float: right;
	top: 50px;
	left: 90%;
	width: 40px;
	height: 400px;
	transition: left 4s;
}

.screen:hover .woman{
	left: 50%;
}

.head{
	margin:auto;
	background-color: #000;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	box-shadow: 0 219px 50px -2px black;
}
.body-arms{
	margin: auto;
	width: 40px;
	height: 100px;
}

.arms{
	position: relative;
	top: 10px;
	width: 40px;
	height: 100px;
}

.shoulder{
	left: 50%;
	transform: translate(-50%, 0);
	position:absolute;
	background-color: #000;
	margin:auto;
	width: 40px;
	height: 8px;
	border-radius: 4px;
}
.arm-l-rotate1{
	top: -70px;
	position:absolute;
	width:8px;
	height: 160px;
	transition: 4s;
}
.screen:hover .arm-l-rotate1{
	transform: rotate(720deg);
}
.arm-l-up {
	position: relative;
	background-color: #000;
	margin-top:76px;
	width:8px;
	height: 40px;
	border-radius: 4px;
}
.arm-l-rotate2{
	top: 73px;
	position:absolute;
	width:8px;
	height: 80px;
	transition: 4s;
}
.screen:hover .arm-l-rotate2{
	transform: rotate(400deg);
}
.arm-l-down {
	margin-top: 39px;
	background-color: #000;
	width:8px;
	height: 40px;
	border-radius: 4px;
}
.arm-r-rotate{
	right: 0;
	top: -70px;
	position:absolute;
	width:8px;
	height: 160px;
	transition: 4s;
}
.screen:hover .arm-r-rotate{
	transform: rotate(-720deg);
}
.arm-r {
	background-color: #000;
	margin-top:76px;
	width:8px;
	height: 80px;
	border-radius: 4px;
}
.body{
	position:absolute;
	background-color: #000;
	left: 50%;
	transform: translate(-50%, 0);
	width:20px;
	height: 100px;
	border-radius: 10px 10px 0 0;
}



.legs{
	position: relative;
	margin:auto;
	width: 20px;
	height: 130px;
}

.dress{
	position:absolute;
	top: -20px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 20px;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	/*border-bottom: 70px solid deepPink;*/
	border-bottom: 70px solid;
}

.leg-l{
	position:absolute;
	background-color: #000;
	width: 8px;
	height: 100px;
	border-radius: 0 0 10px 10px ;
}


.leg-r{
	right: 0;
	position:absolute;
	background-color: #000;
	width: 8px;
	height: 100px;
	border-radius: 0 0 10px 10px ;
}

.heart {
	opacity: 0;
	left: 50%;
	top:45px;
	transform: translate(-50%, 0);
	position: relative;
	width: 300px;
	height: 270px;
	transition: opacity 4s;

}
.heart:before,
.heart:after {
	position: absolute;
	content: "";
	left: 150px;
	top: 0;
	width: 150px;
	height: 240px;
	background: red;
	border-radius: 150px 150px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	box-shadow: 0 0 50px -0 red;
}
.heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin :100% 100%;
}

.screen:hover .heart{
	opacity: 1;
}
