html{
    height: 100%;
}


body{
    height: 100%;
    margin: 0;
}

.ratio {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
}


.screen {
    /*position: relative;*/
    width: 100%;
    /*height: 100%;*/
    /*margin: auto;*/
    /*top: 50%;*/

    /*border: 300px solid black;*/
    /*width: 100vw;*/
    /*box-sizing: border-box;*/
    /*padding-top:28.125vh;*/
    /*padding-bottom:28.125vh;*/
}

.element{
    color: #000;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}

